In [1]:
#Importing necessary libraries 
import pandas as pd
import numpy as np

In [2]:
#loading the dataset
df = pd.read_csv('Download employee_data.csv')

print(df.head())

   Emp_ID          Name  Age  Salary (INR)  Experience (Years)       City  \
0     101   Amit Sharma   27      650000.0                 4.0      Delhi
1     102    Riya Gupta   32           NaN                 8.0     Mumbai
2     103  Rajesh Verma   45     1200000.0                 inf  Bangalore
3     104   Priya Singh   29      720000.0                 6.0    Kolkata
4     105   Sunil Kumar   26      500000.0                 3.0    Chennai

  Department  Performance Rating
0         IT                 4.5
1         HR                 3.8
2    Finance                 4.9
3         IT                 4.2
4      Sales                 NaN

In [3]:
#checking the missing values
df.isnull().sum()

Emp_ID                0
Name                  0
Age                   0
Salary (INR)          2
Experience (Years)    0
City                  0
Department            0
Performance Rating    1
dtype: int64

In [4]:
#Fill average salary & median rating instead of null values
df['Salary (INR)'] = df['Salary (INR)'].fillna(df['Salary (INR)'].mean())
df['Performance Rating'] = df['Performance Rating'].fillna(df['Performance Rating'].median())

In [5]:
#Handle inf. values
df.replace([np.inf, -np.inf], np.nan, inplace=True)
df.fillna(df.mean(numeric_only=True), inplace=True)

In [6]:
#Remove Duplicates rows
df.drop_duplicates(inplace=True)

In [7]:
#replace negative salaries
df['Salary (INR)'] = np.where(df['Salary (INR)'] <0, df['Salary (INR)'].mean(), df['Salary (INR)'])

In [8]:
#Remove unnecessary higher slaries
salary_mean = df['Salary (INR)'].mean()
salary_std = df['Salary (INR)'].std()
lower_bound = salary_mean - (3 * salary_std)
upper_bound = salary_mean + (3 * salary_std)

df = df[(df['Salary (INR)'] >= lower_bound) & (df['Salary (INR)'] <= upper_bound)]

In [9]:
#load cleaned data
df.to_csv('Cleaned_data.csv')